body{
    background: rgb(243,243,243);
background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(193,208,227,1) 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

   /* outline:3px solid limegreen !important; */
}
header{
    padding: 40px;
}
.holder{
    width: 960px;
    margin: 0 auto;
}
.titulo h1{
    text-align: center;
    margin-bottom: 20px;
}
h2{
    text-align: center;
}
.recomendacion{
    width: 60%;

}
p{
    padding: 0px;
    margin-bottom: 0px !important;
}
#peticiones-saved li{
    margin: 3px;
}
.form-mensaje{
    width: 40%;
}
section{
    margin:0 auto;
    width: 100%;
    max-width: 90vw;
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 2em;
}
form{
    display:flex;
    flex-direction: column;
}
.response_container{
    max-height: 400px;
    display:flex;
    width: 60%;
    flex-direction: column;
}
#peticiones-saved button{
    margin: 0.5em;
}

.response{
    overflow:auto;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.response_pre{
max-width:95%
}
.form{
    width:40%
}
.show{
    display: block;
}
li{
    display: none;
}

@media screen and (max-width: 600px) {
    section {
      display:block;
    }
    .form{
        width: 100%;
    }
    .response_container{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .h2{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
  }